In [25]:
# Jupyter Practice

In [26]:
high_schools = ["Hernandez High School", "Figueroa High School", "Wilson High School", "Wright High School"]

In [27]:
for school in high_schools:
    print (school)

Hernandez High School
Figueroa High School
Wilson High School
Wright High School

In [28]:
high_school_types =[{"High School":"Griffin","Type":"District"},
                    {"High School":"Figueroa","Type":"District"},
                    {"High School":"Wilson","Type":"Charter"},
                    {"High School":"Wright","Type":"Charter"}]

In [29]:
for types in high_school_types:
    print(types)

{'High School': 'Griffin', 'Type': 'District'}
{'High School': 'Figueroa', 'Type': 'District'}
{'High School': 'Wilson', 'Type': 'Charter'}
{'High School': 'Wright', 'Type': 'Charter'}

In [30]:
import pandas as pd

In [31]:
school_series = pd.Series(high_schools)
school_series

0    Hernandez High School
1     Figueroa High School
2       Wilson High School
3       Wright High School
dtype: object

In [32]:
for school in school_series:
    print(school)

Hernandez High School
Figueroa High School
Wilson High School
Wright High School

In [33]:
high_school_dicts = [{"School ID": 0, "school_name": "Huang High    School", "type": "District"},
                   {"School ID": 1, "school_name": "Figueroa High School", "type": "District"},
                    {"School ID": 2, "school_name":"Shelton High School", "type": "Charter"},
                    {"School ID": 3, "school_name":"Hernandez High School", "type": "District"},
                    {"School ID": 4, "school_name":"Griffin High School", "type": "Charter"}]

In [34]:
school_df = pd.DataFrame(high_school_dicts)

In [35]:
print(school_df)

   School ID            school_name      type
0          0   Huang High    School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [36]:
# Three separate lists of information on high schools
school_id = [0,1,2,3,4]
school_name = ["Huang High School", "Figueroa High School", "Shelton High School", "Hernandez High School", "Griffin High School"]
type_of_school = ["District","District","Charter","District","Charter"]

In [37]:
#Initialize a new DataFrame
schools_df = pd.DataFrame()

In [39]:
# Add the list to a new DataFrame.
schools_df["School ID"] = school_id
# Print the DataFrame.
print(schools_df)

   School ID
0          0
1          1
2          2
3          3
4          4

In [48]:
schools_df["School Name"] = school_name
schools_df["Type"] = type_of_school
print(schools_df)

   School ID            School Name      Type
0          0      Huang High School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [49]:
high_schools_dict = {"School ID":school_id, "School Name":school_name, "Type":type_of_school}
schools_df2=pd.DataFrame(high_schools_dict)
print(schools_df2)

   School ID            School Name      Type
0          0      Huang High School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [50]:
school_df.columns

Index(['School ID', 'school_name', 'type'], dtype='object')

In [52]:
school_df.index

RangeIndex(start=0, stop=5, step=1)

In [53]:
school_df.values

array([[0, 'Huang High    School', 'District'],
       [1, 'Figueroa High School', 'District'],
       [2, 'Shelton High School', 'Charter'],
       [3, 'Hernandez High School', 'District'],
       [4, 'Griffin High School', 'Charter']], dtype=object)

In [55]:
#Skill Drill to create lists and dataframes
school_id2 = [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14]
school_name2 = ["Huang High School", "Figueroa High School", "Shelton High School","Hernandez High School","Griffin High School","Wilson High School","Cabrera High School","Bailey High School","Holden High School","Pena High School","Wright High School","Rodriguez High School","Johnson High School","Ford High School","Thomas High School"]
school_type2 = ["District","District","Charter","District","Charter","Charter","Charter","District","Charter","Charter","Charter","District","District","District","Charter"]
schools_df2 = pd.DataFrame()
schools_df2["School ID"] = school_id2
schools_df2["School Name"] = school_name2
schools_df2["Type"] = school_type2
print(schools_df2)

    School ID            School Name      Type
0           0      Huang High School  District
1           1   Figueroa High School  District
2           2    Shelton High School   Charter
3           3  Hernandez High School  District
4           4    Griffin High School   Charter
5           5     Wilson High School   Charter
6           6    Cabrera High School   Charter
7           7     Bailey High School  District
8           8     Holden High School   Charter
9           9       Pena High School   Charter
10         10     Wright High School   Charter
11         11  Rodriguez High School  District
12         12    Johnson High School  District
13         13       Ford High School  District
14         14     Thomas High School   Charter